.blue {
    border: 1px solid black;
        background-color:aqua;
        width: 200px;
        padding: 10px;
}
.hide{
    display: none;
}

/*=== import bootstrap ===*/
@import "../../node_modules/bootstrap/scss/bootstrap";